/* .checkbox {
    border-radius: 50%;
    padding: 10px 10px;
    border: 1px solid rgb(182, 181, 181);
    margin-right: 20px;
    cursor: pointer;
} */

/* .gradient-checkbox {
    border: none;
    border-radius: 50%;
    padding: 11px 11px;
    margin-right: 20px;
    cursor: pointer;
    background: no-repeat center url("../public/images/icon-check.svg"), linear-gradient(120deg, #57ddff, #c058f3);
} */

